{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<style type="text/css">
	TABLE {
	 border-collapse: collapse; /* Убираем двойные линии между ячейками */
	 width: 300px; /* Ширина таблицы */
	}
	TH, TD {
	 border: 1px solid black; /* Параметры рамки */
	 text-align: center; /* Выравнивание по центру */
	 padding: 4px; /* Поля вокруг текста */
	}
	TH {
	 background: rgb(253, 226, 120); /* Цвет фона ячейки */
	 height: 40px; /* Высота ячеек */
	 vertical-align: bottom; /* Выравнивание по нижнему краю */
	 padding: 0; /* Убираем поля вокруг текста */
	}
   </style>
	<div class="row">
        <div class="col-lg-3"><div> <h6><strong>Информация о пользователе</strong></h6></div>
			<div class="box-element" id="form-wrapper">
				<form id="form">
					<div >
						Имя:
						<input class="form-control" type="text" name="name" value="{{customer_name}}">
					</div>
					<div>
						Адрес почты:
						<input required class="form-control" type="email" name="email" value="{{customer_email}}">
					</div>
					<div>
						Телефон:
						<input required class="form-control" type="phone" name="phone" value="{{customer_phone}}">
					</div>
					<div>
						Ссылка на vk:
						<input required class="form-control" type="vk_link" name="vk_link" value="{{customer_vk_link}}">
						<br>
						<input class="btn btn-success" id="save-new-user-info" type="submit" value="Сохранить изменения"></input>
					</div>
					<div> 
						<br>
					</div>
					<div>
						<a href="{% url 'reset_password' %}" class="btn btn-success">Изменить пароль</a>
					</div>
					<div> 
						<br>
					</div>	
					<!-- <div> 
						<input class="btn btn-success" id="save-new-user-password" type="submit" value="Изменить пароль"></input>
					</div>	 -->
            	</form>
			</div>
			
			<!-- <div class="box-element hidden" id="password-new-info">
				<small>Новый пароль:</small>
				<input required class="form-control" type="password" name="password1" value="" placeholder="">
				<br>
				<small>Снова новый пароль:</small>
				<input required class="form-control" type="password" name="password2" value="" placeholder="">
			</div> -->

        </div>
		<div class="col-lg-9">
			<div> <h6><strong>Информация о заказах</strong></h6></div>

			{% for order in orders %}
			<div class="box-element">
				<div><h8>Заказ №{{order.order_number}}</h8></div>
				<div class="cart-row">

					<table class="table">
						<tr>
							<th>Номер транзакции</th>
							<th>Дата оформления заказа</th>
							<th>Количество товаров</th>
							<th>Итоговая цена</th>

						</tr>
						<tr>
							<td>{{order.transaction_id}}</td>
							<td>{{order.date_ordered}}</td>
							<td>{{order.get_cart_items}}</td>
							<td>${{order.get_cart_total|floatformat:2}}</td>
						</tr>
						<br>
						<tr>
							<th><p style="float:center; margin:5px;">Город</p></th>
							<th><p style="float:center; margin:5px;">Область</p></th>
							<th><p style="float:center; margin:5px;">Адрес</p></th>
							<th><p style="float:center; margin:5px;">Почтовый индекс</p></th>
							
						</tr>
						<tr>
							<td>
								<a style="float:center; margin:5px;">{{order.get_cart_city}}</a>
							</td>
							<td>
								<a style="float:center; margin:5px;">{{order.get_cart_state}}</a>
							</td>
							<td>
								<a style="float:center; margin:5px;">{{order.get_cart_address}}</a>
							</td>
							<td>
								<a style="float:center; margin:5px;">{{order.get_cart_zipcode}}</a>
							</td>
						</tr>
						
					</table>
					
				</div>
				<a  style="float:center; margin:5px;" class="btn btn-success ">Подробности</a>
				
			</div>
			{% endfor %}
			<div class="box-element">
				<a  class="btn btn-success" href="{% url 'store' %}">&#x2190; Продолжить покупки</a>
			</div>
			

		</div>
		
	</div>

	<script type="text/javascript">
		const form = document.getElementById('form')
		
		form.addEventListener('submit', function(e){
	    	e.preventDefault()
	    	console.log('Form Submitted...')
	    	
	    })

		/* form.addEventListener('submit', function(e){
	    	e.preventDefault()
	    	console.log('Form Submitted...')
	    	document.getElementById('form-control').classList.add("hidden");
	    	document.getElementById('password-new-info').classList.remove("hidden");
	    }) */

		document.getElementById('save-new-user-info').addEventListener('click', function(e){
	    	submitFormData()
	    })
	    
		
	    function submitFormData(){
	    	console.log('Getting new user information button clicked')

	    	const userFormData = {
				'id':null,
				'name':null,
				'email':null,
				'phone':null,
				'vklink':null,
				'password1':null,
				'password2':null,
			}

			userFormData.id = '{{request.user.id}}'
			userFormData.name = form.name.value
	    	userFormData.email = form.email.value
			userFormData.phone = form.phone.value
			userFormData.vklink = form.vk_link.value
			userFormData.password1 = form.password1.value
			userFormData.password2 = form.password1.value
			
	    	console.log('User Info:', userFormData)

	    	var url = "/new_user_info/"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
	    		}, 
	    		body:JSON.stringify({'form':userFormData}),
	    		
	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				console.log('Success:', data);
				alert('Update user info completed');  
				location.reload();
				})
	    }

	</script>


{% endblock content %}